@import '../_assets/css/vars.sss'
@import '../_assets/css/mixin.sss'

.media
	// cinza and bb from composes
	composes: cinza, bb from '../_assets/css/composes.sss'

	border-radius: 0 0 $radius $radius
	display: flex
	align-items: flex-start
	padding: 1em
	&_figure
		margin-right: 1em
		border-radius: 50%
	&_body
		flex: 1
		h2, h5
			margin: 0 0 5px 0
			padding: 0
